<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemFileMapper">
    <insert id="insertFile" parameterType="SystemFile">

		insert into sys_file(

        <if test="id != null and id != 0">
            id,
        </if>
        <if test="name != null and name != ''">
            name,
        </if>
        <if test="type != null and type != ''">
            type,
        </if>
        <if test="path != null and path != ''">
            path,
        </if>
        <if test="size != null and size != ''">
            size,
        </if>

		upload_time,upload_by
		)values(

        <if test="id != null and id != 0">
            #{id},
        </if>
        <if test="name != null and name != ''">
            #{name},
        </if>
        <if test="type != null and type != ''">
            #{type},
        </if>
        <if test="path != null and path != ''">
            #{path},
        </if>

        <if test="size != null and size != ''">
            #{size},
        </if>

	#{uploadTime},#{uploadBy}
		)

    </insert>

    <delete id="deleteFileById" parameterType="string">

	    delete from sys_file where id = #{fileId}

    </delete>
     <delete id="deleteFileByIds">
        <foreach collection="list" item="id" separator=";" >
        delete from sys_file where id = #{id}
        </foreach>
    </delete>

    <select id="selectFileListByIds" resultType="SystemFile">
        select * from sys_file where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

     <select id="getById" resultType="SystemFile">
        select * from sys_file where id=#{id}
    </select>
</mapper>