<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.things.mapper.LpBaseDeviceParameterMapper">

    <select id="selectLpBaseDeviceParameterList" resultType="com.ruoyi.things.domain.LpBaseDeviceParameter" parameterType="map">
        select * from lp_base_device_parameter where del_flag = 0
        <if test="infoId != null and infoId != ''">
            and info_id = #{infoId}
        </if>
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="interfaceName != null and interfaceName != ''">
            and interface_name like concat('%',#{interfaceName},'%')
        </if>
        <if test="controlType != null and controlType != ''">
            and control_type = #{controlType}
        </if>
    </select>

    <insert id="insertLpBaseDeviceParameter" parameterType="LpBaseDeviceParameter">
        insert into lp_base_device_parameter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="infoId != null">info_id,</if>
            <if test="name != null">name,</if>
            <if test="interfaceName != null">interface_name,</if>
            <if test="controlType != null">control_type,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remarks != null">remarks,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="infoId != null">#{infoId},</if>
            <if test="name != null">#{name},</if>
            <if test="interfaceName != null">#{interfaceName},</if>
            <if test="controlType != null">#{controlType},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>
    <delete id="deleteByInfoId" parameterType="String">
        delete from lp_base_device_parameter where info_id = #{infoId}
    </delete>

</mapper>