<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.things.mapper.LpDeviceTreeMapper">
    
    <resultMap type="LpDeviceTree" id="LpDeviceTreeResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="parentIds"    column="parent_ids"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="addressCode"    column="address_code"    />
        <result property="fileId"    column="file_id"    />
        <result property="addressDetail"    column="address_detail"    />
        <result property="map"    column="map"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remarks"    column="remarks"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectLpDeviceTreeVo">
        select id, parent_id, parent_ids, name, type, address_code, file_id, address_detail, map, sort, create_by, create_time, update_by, update_time, remarks, del_flag from lp_device_tree
    </sql>

    <select id="selectLpDeviceTreeList" parameterType="LpDeviceTree" resultMap="LpDeviceTreeResult">
        <include refid="selectLpDeviceTreeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectLpDeviceTreeById" parameterType="String" resultMap="LpDeviceTreeResult">
        <include refid="selectLpDeviceTreeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLpDeviceTree" parameterType="LpDeviceTree">
        insert into lp_device_tree
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="parentIds != null">parent_ids,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="addressCode != null">address_code,</if>
            <if test="fileId != null">file_id,</if>
            <if test="addressDetail != null">address_detail,</if>
            <if test="map != null">map,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="remarks != null">remarks,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="parentIds != null">#{parentIds},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="addressCode != null">#{addressCode},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="addressDetail != null">#{addressDetail},</if>
            <if test="map != null">#{map},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateLpDeviceTree" parameterType="LpDeviceTree">
        update lp_device_tree
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentIds != null">parent_ids = #{parentIds},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="addressCode != null">address_code = #{addressCode},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="addressDetail != null">address_detail = #{addressDetail},</if>
            <if test="map != null">map = #{map},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLpDeviceTreeById" parameterType="String">
        delete from lp_device_tree where id = #{id}
    </delete>

    <delete id="deleteLpDeviceTreeByIds" parameterType="String">
        delete from lp_device_tree where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>